p {
    text-align: left;
}

.navbar-brand {
        color: white !important;
    }

    .nav-link {
        color: white !important;
    }

#filter-btn {
    margin: 4px 2px;
}

#filter-btn-clear {
    margin: 4px 2px;
}